body {
  background-color: white;
}
.first {
  background: url(/images/hero-cover.3.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.nav {
  display: flex;
  flex-direction: row;
  color: white;
  font-size: small;
  justify-content: center;
}
.brand h1 {
  font-size: small;
}
.nav ul {
 display: flex;
 flex-direction: row;
}
.nav ul li {
  list-style: none;
  padding-right: 10px;
}
.last {
  display: flex;
  flex-direction: row;
  margin-left: 40px;
}
.butnav {
  background-color: #23A6F0;
  color: white;
  border-radius: 4px;
  border-width: 0vh;
  margin-left: 40px;
}
.div2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  margin-bottom: 40px;
}
.blue {
  background-color: #23A6F0;
  border-radius: 40px;
  border-width: 0vh;
}
.white {
  border-radius: 40px;
  border-width: 0vh;
}
.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.cards img {
  width: 65px;
}
.card1 {
  font-size: small;
  padding-right: 10px;
  background-color: white;
  border-style: solid;
  border-color: white;
  margin-right: 20px;
}
.card2 {
  font-size: small;
  padding-right: 10px;
  background-color: white;
  border-style: solid;
  border-color: white;
  margin-right: 20px;
}
.card3 {
  background-color:  #23A6F0;
  font-size: small;
  padding-right: 20px;
}
.card3 img {
  width: 50px;
}
.second {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-top: 70px;
}
.second img {
  width: 60px;
}
.icon {
  margin-right: 50px;
  font-size: x-small;
}
.baby1 {
  text-align: center;
  margin-top: 40px;
}
.baby1 h2 {
  font-size: medium;
}
.baby1 p{
  font-size: x-small;
}
.baby2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.user {
  margin-right: 20px;
  border-style: solid;
  border-color: grey;
  border-radius: 5px;
  text-align: center;
  font-size: x-small;
  width: 15%;
  height: 50%;
  padding: 2px;
  border-width: thin;
}
.user img {
  width: 50%;
  height: 40%;
}